<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="guidanceSystemPrompt" class="java.lang.String">
        <constructor-arg value="You are a helpful, practical productivity coach. Be specific and actionable."/>
    </bean>

</beans>
